
# virtual environment
nba_model/

**/matchup_cache/

# python cache
__pycache__/
**/__pycache__/

# os files
.DS_Store

**/catboost_info/

.env
# Ignore all data in TRAIN_DATA (files are too large, can be redownloaded)
DATA/CSV_FILES/TRAIN_DATA/
